<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Digital_SupportConnectionString"
            connectionString="Data Source=DESKTOP-B3UFG6V\SQLEXPRESS;Initial Catalog=Digital_Support;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>